
.navbar-brand img{
 max-width: 100px;
}
.single-item-image{
    width: 100%;
    padding: 15px;
    border-radius: 30px;
}
.items-image img{
    transition: all.3s;
}
.items-image:hover img{
    filter:brightness(80%);
}
#uperArrow img{
    -ms-transform: rotate(180deg); 
    -webkit-transform: rotate(180deg);  
    transform: rotate(180deg); 
}